.containerInicio {
    display: flex;
    height: calc(100% - 64px);
    justify-content: center;
    align-items: center;
    gap: 40px;
}

@media(max-width: 1200px) {
    .containerInicio {
        flex-direction: column;
    }
}