.footer {
    background-color: #25D366;
    color: #fff;
    text-align: center;
    padding: 20px;
    width: 100%;
    margin-top: auto;
}

footer p {
    color: #000;
    margin: 0;
}

@media (max-width: 500px) {
    .footer {
        font-size: 14px;
    }
}