.containerContatos {
    display: flex;
    height: calc(100% - 64px);
    justify-content: center;
    align-items: center;
    gap: 120px;
    padding: 80px 40px;
}

.containerContatos .coluna {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.containerContatos .coluna h2 {
    color: #25D366;
    margin-bottom: 40px;
    font-size: 48px;
}

.containerContatos .linha {
    display: flex;
    min-width: 340px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    gap: 20px;
}

.containerContatos .nome {
    font-weight: bold;
    font-size: 36px;
    color: #000;
    min-width: 200px;
}

.containerContatos .whatsapp {
    background-color: #25D366;
    padding: 10px;
    border-radius: 8px;
    color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
    font-size: 36px;
}

.containerContatos .whatsapp:hover {
    background-color: #1DA851;
}

.containerContatos .whatsapp:active {
    background-color: #075E54;
}

.whatsapp-icon {
    width: 48px;
    height: 48px;
}

@media (max-width: 1200px) {
    .whatsapp-icon {
        width: 24px;
        height: 24px;
    }

    .containerContatos {
        gap: 60px;
        padding: 40px 20px;
        height: calc(100% - 32px);
    }

    .containerContatos .coluna h2 {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .containerContatos .linha {
        min-width: 170px;
        margin-bottom: 15px;
        gap: 10px;
    }

    .containerContatos .nome {
        font-size: 18px;
        min-width: 100px;
    }

    .containerContatos .whatsapp {
        font-size: 18px;
        padding: 5px;
        border-radius: 4px;
    }
}