.confirmacaoModal {
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 8px;
    width: 320px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
    text-align: center;
}

.confirmacaoModal p {
    color: #000;
    font-size: 16px;
}

.confirmacaoModal .buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.confirmacaoModal .cancel-button {
    background-color: #ccc;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.confirmacaoModal .cancel-button:hover {
    background-color: #8e8e8e;
}

.confirmacaoModal .confirm-button {
    background-color: #25d366;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.confirmacaoModal .confirm-button:hover {
    background-color: #1DA851;
}