.lembretesContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-height: 400px;
    width: 320px;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.25),
        0 4px 6px rgba(0, 0, 0, 0.15);
    background-color: #f2f2f2;
}

.lembretesContainer h2 {
    text-align: start;
    color: #000;
}

.lembretesContainer .titulo {
    display: flex;
    flex-direction: column;
    margin: 0 0 5px 0;
}

.lembretesContainer .lembretes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #999;
    border-radius: 5px;
    overflow-y: auto;
}

.lembrete p {
    display: flex;
    flex-direction: column;
    color: #000;
    padding: 10px;
    text-wrap: wrap;
    text-align: left;
    overflow-x: auto;
}

.lembretesContainer .adicionar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #25D366;
    border: 1px solid #25D366;
    color: white;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    padding: 8px;
    transition: all 0.3s ease;
}

.lembretesContainer .adicionar:hover {
    background-color: #1DA851;
    border: 1px solid #1DA851;
}

.lembretesContainer .adicionar:active {
    background-color: #075E54;
    border: 1px solid #075E54;
}

.lembretesContainer .excluir {
    background-color: red;
    color: #fff;
    border: none;
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    flex-shrink: 0;
}

.lembretesContainer .excluir:hover {
    color: #fff;
    background-color: rgb(159, 5, 5);
}

.lembrete {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0 20px;
}

.lembretesContainer span {
    text-align: left;
    color: #000;
    margin: 5px;
}

@media (max-width: 1200px) {
    .lembretesContainer {
        margin-top: 100px;
    }
}

@media (max-width: 600px) {
    .lembretesContainer {
        max-width: 280px;
    }

    .lembretes .lembrete {
        display: block;
    }

    .lembretesContainer .excluir {
        font-size: 10px;
        padding: 4px 8px;
    }
}