.header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: #000;
    background-color: #f2f2f2;
    font-size: large;
}

.logo {
    font-weight: bold;
    margin-right: 40px;
}

.nav {
    display: flex;
    gap: 30px;
}

.nav-item {
    text-decoration: none;
    color: #000;
    cursor: pointer;
    font-weight: normal;
}

.nav-item.active {
    font-weight: bold;
    color: #1DA851;
}

.line {
    margin-top: 10px;
    border: none;
    border-bottom: 1px solid #000;
    width: 100%;
}

@media (max-width: 900px) {
    .header {
        font-size: medium;
    }
}

@media (max-width: 500px) {
    .header {
        font-size: 14px;
    }

    .nav {
        flex-wrap: wrap;
        gap: 5px;
        justify-content: center;
        padding-right: 30px;
    }
}