.pedidosContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-height: 400px;
    width: 600px;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.25),
        0 4px 6px rgba(0, 0, 0, 0.15);
    background-color: #f2f2f2;
}

.pedidosContainer h2 {
    text-align: start;
    color: #000;
}

.pedidosContainer .titulo {
    display: flex;
    flex-direction: column;
    margin: 0 0 5px 0;
}

.pedidosContainer span {
    text-align: left;
    color: #000;
    margin: 5px;
}

.pedidosContainer .pedidos {
    display: flex;
    flex-direction: column;
    border: 1px solid #999;
    border-radius: 5px;
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
}

.pedidosContainer .adicionar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #25D366;
    border: 1px solid #25D366;
    color: white;
    padding: 8px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.pedidosContainer .adicionar:hover {
    background-color: #1DA851;
    border: 1px solid #1DA851;
}

.pedidosContainer .adicionar:active {
    background-color: #075E54;
    border: 1px solid #075E54;
}

.pedidosContainer .excluir {
    background-color: red;
    color: #fff;
    border: none;
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    flex-shrink: 0;
}

.pedidosContainer .excluir:hover {
    color: #fff;
    background-color: rgb(159, 5, 5);
}

.pedido {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-right: 20px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
}

.pedido p {
    color: #000;
    max-width: 500px;
    margin: 0;
    overflow-wrap: break-word;
    white-space: normal;
    word-break: break-word;
    flex: 1;
}

@media (max-width: 1200px) {
    .pedidosContainer {
        max-width: 500px;
        margin-bottom: 20px;
    }
}

@media (max-width: 600px) {
    .pedidosContainer {
        max-width: 280px;
    }

    .pedidos .pedido {
        display: block;
    }

    .pedidosContainer .excluir {
        font-size: 10px;
        padding: 4px 8px;
    }
}